.homepagebuttonfont{
    color: #FFE600;
    font-size: 22px;
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 500;
    padding-left: 15px;
}

.homepagebuttonfont:hover, .homepagebuttonfont:focus {
    text-decoration: none;
    color: whitesmoke;
  }

.nav-link-mod{
    color: #FFF6F6;
    font-size: 18px;
    font-weight: 500;
    display: block;
}

.nav-link-mod:hover, .nav-link-mod:focus {
    text-decoration: none;
    color: yellow;
}

.title-mod{
  background-color:#C4C4C4;
  display: flex;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.film-list{
  padding-left: 3px;
  padding-right: 3px;
}

.film-info{
  padding-left: 3px;
  padding-right: 3px;
}

.board {
  height: 30px;
  background-color: rgba(0,0,0,0.5);
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 30px;
  left: 3px;
  right: 3px;
  position: absolute;
}
