
.homepagebuttonfont:hover, .homepagebuttonfont:focus {
    text-decoration: none;
    color: whitesmoke;
  }

.nav-link-mod{
    color: #FFF6F6;
    font-size: 16px;
    display: block;
}

.nav-link-mod:hover, .nav-link-mod:focus {
    text-decoration: none;
    color: yellow;  
}

.footer-text {
  height: 25px;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 25px;
}

.body-bg {
  background-color: #e9ebee;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

.film-list-row-space {
  margin-bottom: 10px;
  margin-top: 10px;
}