.navbar-bg-color {
  background-color: #ffdd00;
}

.homepagebuttonfont:hover, .homepagebuttonfont:focus {
    text-decoration: none;
    color: red;
  }

.nav-link-mod{
    color: black;
    font-size: 16px;  
    display: block;
}

.nav-link-mod:hover, .nav-link-mod:focus {
    text-decoration: none;
    color: red;  
}

.footer-text {
  height: 25px;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 25px;
  background-color:#404040 
}

.body-bg {
  background-color: #e9ebee;
  padding-top: 40px;
  padding-bottom: 16px;
}

.film-list-bg-color {
  background-color:white
}

hr.divider1 { 
  margin-top: 16px;
  margin-bottom: 12px;   
  border-width: 2px;
} 

hr.divider2 { 
  margin-top: 8px;
  margin-bottom: 8px;   
  border-width: 1px;
} 