
.homepagebuttonfont:hover, .homepagebuttonfont:focus {
    text-decoration: none;
    color: whitesmoke;
  }

.nav-link-mod{
    color: #FFF6F6;
    font-size: 18px;
    font-weight: 500;
    display: block;
}

.nav-link-mod:hover, .nav-link-mod:focus {
    text-decoration: none;
    color: yellow;
}

.footer-text {
  height: 25px;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 25px;
}