 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 320.98px) { 

    .navbar-toggler-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
      }

    .homepagebuttonfont{
        width: 80%;
        color: #FFE600;
        font-size: 18px;
        display: inline-block;
        line-height: inherit;
        white-space: nowrap;
        font-weight: 500;
        text-align: center;
    }

    .mobile-view{
        display: flex;
    }
    .dt-view{
        display: none;
    }

    .board-top {
        height: 16px;
        background-color: rgba(0,0,0,0.5);
        font-size: 14px;
        font-weight: 500;
        color: white;
        text-align: center;
        line-height: 16px;
        left: 3px;
        right: 3px;
        position: absolute;
        top: 0px;
    }

    .board-bottom {
        height: 16px;
        background-color: rgba(0,0,0,0.5);
        font-size: 12px;
        font-weight: 450;
        color: white;
        text-align: center;
        line-height: 16px;
        left: 3px;
        right: 3px;
        position: absolute;
        bottom: 0px;
    }

    .film-list{
        padding-left: 2px;
        padding-right: 2px;
      }
      
    .film-info{
        padding-left: 2px;
        padding-right: 2px;
    }

    .title-mod{
        -webkit-webkit: boder radious 10;
        -moz-webkit: boder radious 10;
        -ms-webkit: boder radious 10;
        -o-webkit: boder radious 10;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

/* Small devices (landscape phones, 576px and up) */
 @media (min-width: 321px) and (max-width: 767.98px) { 
    .homepagebuttonfont{
        width: 80%;
        color: #FFE600;
        font-size: 22px;
        display: inline-block;
        line-height: inherit;
        white-space: nowrap;
        font-weight: 500;
        text-align: center;
    }

    .mobile-view{
        display: flex;
    }
    .dt-view{
        display: none;
    }

    .board-top {
        height: 20px;
        background-color: rgba(0,0,0,0.5);
        font-size: 14px;
        font-weight: 500;
        color: white;
        text-align: center;
        line-height: 20px;
        left: 3px;
        right: 3px;
        position: absolute;
        top: 0px;
    }

    .board-bottom {
        height: 20px;
        background-color: rgba(0,0,0,0.5);
        font-size: 14px;
        font-weight: 450;
        color: white;
        text-align: center;
        line-height: 20px;
        left: 3px;
        right: 3px;
        position: absolute;
        bottom: 0px;
    }

    .film-list{
        padding-left: 2px;
        padding-right: 2px;
      }
      
    .film-info{
        padding-left: 2px;
        padding-right: 2px;
    }

    .title-mod{
        display: flex;
        justify-content: center;
        padding-top: 4px;
        padding-bottom: 4px;
    }
 }

 /* Large devices (desktops, 768px and up) */
@media (min-width: 768px) {  
    .homepagebuttonfont{
        color: #FFE600;
        font-size: 24px;
        display: inline-block;
        line-height: inherit;
        white-space: nowrap;
        font-weight: 500;
        text-align: center;
        padding-right: 170px;
    }
    
    .mobile-view{
        display: none;
    }   
    .dt-view{
        display: flex;
    }

    .board-top {
        height: 30px;
        background-color: rgba(0,0,0,0.5);
        font-size: 18px;
        font-weight: 500;
        color: white;
        text-align: center;
        line-height: 30px;
        left: 3px;
        right: 3px;
        position: absolute;
        top: 0px;
    }

    .board-bottom {
        height: 30px;
        background-color: rgba(0,0,0,0.5);
        font-size: 18px;
        font-weight: 500;
        color: white;
        text-align: center;
        line-height: 30px;
        left: 3px;
        right: 3px;
        position: absolute;
        bottom: 0px;
    }

    .film-list{
        padding-left: 3px;
        padding-right: 3px;
      }
      
    .film-info{
        padding-left: 3px;
        padding-right: 3px;
    }

    .title{
        position: relative;
        left: 50%;
        -webkit-webkit: boder radious 10;
        -moz-webkit: boder radious 10;
        -ms-webkit: boder radious 10;
        -o-webkit: boder radious 10;
        border-radius: 50px;
        background: #434345;
        width: 100px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
